blockquote, body, button, dd, dl, dt, h1, h2, h3, h4, h5, h6, header, hl, hr, html, input, li, main, nav, ol, p, pre, section, select, td, th, textarea, ul {
    background-color: #282A36 !important;
    background-image: none !important;
    border-color: #6272A4 !important;
}

/* All Dracula WiP*/
/* {
    background-color: #282A36 !important;
    background-image: none !important;
    border-color: #6272A4 !important;
    color: #F8F8F2 !important;
}

a {
    color: #6272A4 !important;
}

a:visited {
    color: #50FA7B !important;
}
*/
